*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: #AAA;
}

header{
	background-color: #333;
	height: 3em;
	color: #FFF;
	margin-bottom: 1em;
	padding: 5px 0 0 25px;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container-tabela{
	float: right;
	height: 50%;
	width:70%;
	padding: 0 30px 0 0;
}
.container-adiciona{
	float: left;
	height: 50%;
	width:30%;
	padding: 0 15px 0 ;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #000000;
	text-align: center;
	background-color: #818181;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 49%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:black;
	border-color: black;
    display: block;
    clear: both;
    margin: 10px 0px;
	text-align: center;
	border-radius: 5px;
}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.pessoa-invalida {
	color: rgb(148, 0, 0);
	font-size: 15px;
	font-weight: bold;
}

#error {
	color: red;
	font-size: 20px;
}

.fadeOut {
	opacity: 0;
	transition: 1s;
}

#filtrar-tabela {
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
}

.esconde {
	display: none;
}

.topo-tabela {
	background-color: rgb(58, 58, 58);
	color: white;
}

.img {
	width: 20%;
	height: 40%;
	display: flex;
    margin: 0 0 0 38%;
}

input {
	border-radius: 8px;
}

.grupo-email{
	width: 99%;
	display: inline-block;
	padding: 10px 0px;
}

